.topMovies-list{
    margin-bottom: 20px;
}

.movie-card {
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    img {
        height: 400px;
        margin:auto
    }
    Button{
        display:block;
        margin:auto;
    }
}